/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fab-container {
  top: auto;
  right: 3.065rem;
  bottom: 2.44rem;
  left: auto;
  position: fixed;
  z-index: 1;
}

.center {
  display: flex;
  justify-content: center;
}
